.popup__container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: calc(430px - 72px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
  padding: 34px 36px;
  border-radius: 10px 10px 10px 10px;
}

@media screen and (max-width: 570px) {
  .popup__container {
    padding: 25px 22px;
    width: calc(282px - 44px);
  }
}
