.profile__item_location_left {
  display: flex;
}

@media screen and (max-width: 487px) {
  .profile__item_location_left {
    align-self: center;
    display: flex;
    flex-direction: column;
  }
}
