.popup__button-close {
  width: 40px;
  height: 40px;
  background: #000000 url(../../../images/close-icon.svg) no-repeat center/40px 40px;
  border: none;
  cursor: pointer;
  transition: opacity 0.4s linear;
}

.popup__button-close:hover {
  opacity: 0.6;
}
